<html>
<head>
    <title>Upload</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<style>
    .full{
    text-align:center;
    }
</style>
    <script>
function goBack() {

    document.getElementById("myForm").reset();
}
</script>
</head>
<body>
<div class = "container-fluid full">
<pre  style="font-size:1vw;">{{imageascii}}</pre>
    <button type="button" class ="btn btn-success" id="back" onclick="goBack()">convert one more</button>
    <footer class="page-footer font-small blue" style="font-size:2vw;>


  <div class="footer-copyright text-center py-3">Source available at:
    <a href="https://github.com/krishnac7/image2ascii"> github.com/krishnac7</a>
  </div>


</footer>
</div>
</body>
</html>